In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")

In [2]:
df1.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [3]:
df2.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [4]:
df1.columns=['id', 'title', 'cast', 'crew']

In [5]:
df2=df2.merge(df1,on='id')

In [6]:
df2.shape

(4803, 23)

In [7]:
c=df2['vote_average'].mean()

In [8]:
c

6.092171559442016

In [9]:
S = df2['vote_count'].quantile(0.9)

In [10]:
S

1838.4000000000015

In [11]:
def weighted_rating(x, S=S, c=c):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+S) * R) + (S/(S+v) * c)

In [13]:
q_movies = df2.copy().loc[df2['vote_count'] >= S]
q_movies.shape

(481, 23)

In [14]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)
q_movies = q_movies.sort_values('score', ascending=False)
q_movies.head(15)['original_title']

1881                             The Shawshank Redemption
662                                            Fight Club
65                                        The Dark Knight
3232                                         Pulp Fiction
96                                              Inception
3337                                        The Godfather
95                                           Interstellar
809                                          Forrest Gump
329         The Lord of the Rings: The Return of the King
1990                              The Empire Strikes Back
262     The Lord of the Rings: The Fellowship of the Ring
2912                                            Star Wars
1818                                     Schindler's List
3865                                             Whiplash
330                 The Lord of the Rings: The Two Towers
Name: original_title, dtype: object